<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>upload</title>
  <link rel="stylesheet" href="./assets/main.css">
</head>

<body>
  <div class="main" id="app" @dragover.stop.prevent="onDragOver">
    <div class="area" :class="{'hover':isHover,'drag':isDrag}" @dragover.stop.prevent="onDragOver"  @drop.prevent="funGetFiles">
      <div id="preview">
        <span v-if="!fileFilter.length">Drag & drop files here ...</span>
        <div id="uploadList"class="upload_append_list" :class="fileFilter.length<=4?'mid':'small'" v-for="(item,index) in fileFilter" :key="index">
           <div>
             <img :src="item.result" class="upload_image" />
             <div class="img-info"> 
               <span class="img-title" >{{item.name}}</span>
               <a href="javascript:" class="upload_delete" title="删除"></a>
             </div>
           </div>
           <span id="uploadProgress "class="upload_progress"></span>
        </div>`
      </div>
    </div>
    <div class="button">
      <span class="folder-open" @click="$refs.input.click()">添加文件</span>
      <span id="fileSubmit" class="folder-open" @click="funUploadFile">确认上传</span>
    </div>
    <div v-if="filePaths.length>=0" class="filePaths">
      <p>上传成功,URL为:</p>
      <p v-for="(item,index) in filePaths" :key="index">{{item}}</p>
    </div>
    <div id="uploadInf"></div>
    <form id="uploadForm" :action="url">
      <input id="fileImage" type='file' multiple @change="funGetFiles" ref="input" />
    </form>
  </div>
</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./assets/lxxFile.js"></script>
</html>