*{
  border:none; margin:0; padding:0;
}
.main{
  background-image: url(bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  position:absolute; top:0;right:0;bottom:0;left:0;
  overflow:auto;
}
.area{
  max-width:600px;
  max-height:400px;
  width: 80vw;
  height: 80vw;
  margin: 80px auto 0;
  background-color: #00000044;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.8);
  color:white;
  text-align: center;
  font-size: 0;
  overflow:auto;

}
.area:hover{
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.5) inset,0 0px 4px 0 rgba(0,0,0,0.5);
}
.area.hover{
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.5) inset,0 0px 4px 0 rgba(0,0,0,0.5);
}
.button{
    margin : 20px auto 0;
    max-width:432px;
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    white-space: nowrap;
}
.folder-open{
  display: inline-block;
  color:white;
  background-color: #2780e3;
  border-color: #2780e3;
  padding:6px 12px;
  font-family: "Segoe UI";
  font-size: 12px;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.5);
}
.folder-open:hover{
  background-color: #1967be;
  border-color: #1862b5;
}
#fileImage{
  display:none;
}
.drag *{
  pointer-events: none;
}
#preview{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
}
.upload_append_list{
  display:inline-block;
  box-sizing: border-box;
}
.upload_append_list>div {
  flex-shrink: 1;
  background-color: #00000000;
  padding:2px;
  box-shadow: 0 0 4px #00000020;
}
.upload_append_list>div:hover{
  background-color: #00000090;
}
.upload_append_list .img-info{
  display:none;
}
.upload_append_list>div:hover .img-info{
  display:block;
}
.upload_append_list .img-title{
  text-align: center;
  font-size: 10px;
  color:#ffffff70;
}
.upload_append_list>div a{
  margin-right: 0px;
}
.upload_image{
  max-width:100%;
}
.delete_button{
  display:inline-block;
  width: 10px;
  height: 10px;
}

.mid{
  width:50%;
}
.small{
  width:33%;
}
.filePaths{
  background-color: #00000044;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.8);
  color:white;
  max-width:600px;
  max-height:250px;
  width: 80vw;
  box-sizing:border-box;
  margin: 20px auto 0;
  padding: 10px;
  font-family:"PingFang SC",Menlo,Monaco,Consolas,"Courier New",monospace;
}
.filePaths p:first-of-type{
  user-select: none;
  padding:2px 5px;
}
.filePaths p+p{
  background-color: #00000055;
  padding:2px 5px;
}
.default{
  width: 40%;
}
.noneFile{
  background-color:grey;
  cursor: not-allowed;
}
.noneFile:hover{
  background-color:#80808080;
}